<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espaçamento e Alinhamento</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1 class="mt-5 p-2 bg-black text-white font-bold border-2">Alinhamento de Itens Grid</h1>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">place-content-start</h1>
    <div class="bg-blue-300 grid grid-cols-3 h-52 place-content-start">
        <div class="bg-blue-600 p-3 m-2">div 1</div>
        <div class="bg-blue-600 p-3 m-2">div 2</div>
        <div class="bg-blue-600 p-3 m-2">div 3</div>
        <div class="bg-blue-600 p-3 m-2">div 4</div>
        <div class="bg-blue-600 p-3 m-2">div 5</div>
        <div class="bg-blue-600 p-3 m-2">div 6</div>
    </div>    
    <h1 class="mt-5 p-2 bg-blue-100 border-2">place-content-end</h1>
    <div class="bg-red-300 grid grid-cols-3 h-52 place-content-end">
        <div class="bg-red-600 p-3 m-2">div 1</div>
        <div class="bg-red-600 p-3 m-2">div 2</div>
        <div class="bg-red-600 p-3 m-2">div 3</div>
        <div class="bg-red-600 p-3 m-2">div 4</div>
        <div class="bg-red-600 p-3 m-2">div 5</div>
        <div class="bg-red-600 p-3 m-2">div 6</div>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">place-content-between</h1>
    <div class="bg-teal-300 grid grid-cols-3 h-72 place-content-between">
        <div class="bg-teal-600 p-3 m-2">div 1</div>
        <div class="bg-teal-600 p-3 m-2">div 2</div>
        <div class="bg-teal-600 p-3 m-2">div 3</div>
        <div class="bg-teal-600 p-3 m-2">div 4</div>
        <div class="bg-teal-600 p-3 m-2">div 5</div>
        <div class="bg-teal-600 p-3 m-2">div 6</div>
        <div class="bg-teal-600 p-3 m-2">div 7</div>
        <div class="bg-teal-600 p-3 m-2">div 8</div>
        <div class="bg-teal-600 p-3 m-2">div 9</div>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">place-items-start</h1>
    <div class="bg-purple-300 grid grid-cols-3 h-52 place-items-start">
        <div class="bg-purple-600 p-3 m-2">div 1</div>
        <div class="bg-purple-600 p-3 m-2">div 2</div>
        <div class="bg-purple-600 p-3 m-2">div 3</div>
        <div class="bg-purple-600 p-3 m-2">div 4</div>
        <div class="bg-purple-600 p-3 m-2">div 5</div>
        <div class="bg-purple-600 p-3 m-2">div 6</div>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">place-items-end</h1>
    <div class="bg-amber-300 grid grid-cols-3 h-52 place-items-end">
        <div class="bg-amber-600 p-3 m-2">div 1</div>
        <div class="bg-amber-600 p-3 m-2">div 2</div>
        <div class="bg-amber-600 p-3 m-2">div 3</div>
        <div class="bg-amber-600 p-3 m-2">div 4</div>
        <div class="bg-amber-600 p-3 m-2">div 5</div>
        <div class="bg-amber-600 p-3 m-2">div 6</div>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">place-items-center</h1>
    <div class="bg-orange-300 grid grid-cols-3 h-52 place-items-center">
        <div class="bg-orange-600 p-3 m-2">div 1</div>
        <div class="bg-orange-600 p-3 m-2">div 2</div>
        <div class="bg-orange-600 p-3 m-2">div 3</div>
        <div class="bg-orange-600 p-3 m-2">div 4</div>
        <div class="bg-orange-600 p-3 m-2">div 5</div>
        <div class="bg-orange-600 p-3 m-2">div 6</div>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">place-items-stretch - funcionalidade padrão</h1>
    <div class="bg-lime-300 grid grid-cols-3 h-52 place-items-stretch">
        <div class="bg-lime-600 p-3 m-2">div 1</div>
        <div class="bg-lime-600 p-3 m-2">div 2</div>
        <div class="bg-lime-600 p-3 m-2">div 3</div>
        <div class="bg-lime-600 p-3 m-2">div 4</div>
        <div class="bg-lime-600 p-3 m-2">div 5</div>
        <div class="bg-lime-600 p-3 m-2">div 6</div>
    </div>
    
</body>

</html>