<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Clone</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="">
    <div id="pai" class="bg-green-200 flex flex-wrap justify-center gap-10  items-center hidden">
        <div id="meio" class="bg-yellow-200 m-2 text-start">
            <div class="bg-slate-300 w-500px">
                Elemento 1
                <div class="text-start">
                    teste
                </div>
            </div>
        </div>
        <div id="meio" class="bg-yellow-200 m-2 text-center">
            <div class="bg-slate-300 w-400px">
                Elemento 1
            </div>
        </div>
    </div>

    <div class="bg-gray-100 flex flex-wrap  justify-center gap-20 items-center content-center h-screen lg:-mt-20 ">
        <div class="lg:text-start text-center -mt-14 ">
            <div class="lg:w-500px w-400px">
                <div class="flex justify-center lg:justify-start">
                    <img src="img/facebook-logo.svg" alt="facebook-logo" class="h-106px lg:-ml-6  lg:-mb-3 ">
                </div>
                <h2 class="font-arial-custom text-2xl tracking-wide">O Facebook ajuda você a se conectar e compartilhar
                    com as
                    pessoas
                    que fazem parte da sua vida.</h2>

            </div>
        </div>
        <div class="text-center">
            <div class="w-400px bg-white px-4 pt-4 pb-5 shadow-lg rounded-lg lg:mr-4 lg:mt-12">
                <input class="border-2 rounded-md h-14 pl-4 tracking-tight text-lg w-full focus:placeholder-gray-300" type="text"
                    placeholder="Email ou telefone">
                <input class="border-2 rounded-md h-14 pl-4 mt-3 tracking-tight text-lg w-full focus:placeholder-gray-300" type="password"
                    placeholder="Senha">

                    <input type="submit" value="Entrar"
                    class="bg-facebook-blue text-white font-semibold text-xl tracking-tight py-3 mt-4 mb-3 rounded-md font-arial-custom w-full hover:cursor-pointer">
<!--                     
                    <a href="#"
                    class="bg-facebook-blue text-white font-semibold text-xl tracking-tight py-3 mt-4 mb-3 rounded-md font-arial-custom w-full hover:cursor-pointer block">Entrar</a> -->

                <a href="#" class="text-sm text-blue-500 hover:underline font-medium">Esqueceu a senha?</a>
                <hr class="mt-5">
                <button href="#"
                    class="bg-facebook-green text-white font-semibold text-md py-3 px-5 mt-5 rounded-md font-arial-custom hover:bg-green-600 transition duration-200">Criar
                    nova conta</button>

            </div>

            <div class="w-400px mt-6 text-md tracking-tight">
                <a href="#" class="hover:underline font-semibold">Criar uma Página</a> uma celebridade, uma marca ou uma
                empresa.

            </div>
        </div>
    </div>
    <div class="flex-container flex-wrap pb-3 max-w-6xl mx-auto px-12">
        <div class="flex-col pt-7 px-3">
            <a href="#" class="hover:underline text-gray-500 text-sm font-arial-custom">Português (Brasil)</a>
            <a href="#" class="hover:underline text-gray-500 text-sm font-arial-custom">English (US)</a>
            <a href="#" class="hover:underline text-gray-500 text-sm font-arial-custom">Español</a>
            <a href="#" class="hover:underline text-gray-500 text-sm font-arial-custom">Français (France)</a>
            <a href="#" class="hover:underline text-gray-500 text-sm font-arial-custom">Italiano</a>
            <a href="#" class="hover:underline text-gray-500 text-sm font-arial-custom">Deutsch</a>
            <a href="#" class="hover:underline text-gray-500 text-sm font-arial-custom">中文(简体)</a>
            <a href="#" class="hover:underline text-gray-500 text-sm font-arial-custom">日本語</a>
        </div>
        <div class="flex-col pt-3 px-3">
            <hr>
        </div>
        <div class="flex-col">
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Cadastre-se</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Entrar</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Messenger</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Facebook Lite</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Watch</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Locais</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Jogos</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Marketplace</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Meta Pay</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Loja da Meta</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Meta Quest</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Instagram</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Boletim</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Campanhas de arrecadação de fundos</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Serviços</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Central de Informações de Votação</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Política de Privacidade</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Central de Privacidade</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Grupos</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Sobre</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Criar anúncio</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Criar Página</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Desenvolvedores</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Carreiras</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Cookies</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500"></i></a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Termos</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Ajuda</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Carregamento de contatos e não usuários</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Configurações</a>
            <a href="#" class="px-3 hover:underline text-xs text-gray-500">Registro de Atividades</a>
        </div>
        <div class="flex-col my-6 px-3">
            <a href="#" class="hover:underline text-xs text-gray-500">Meta © 2021</a>
        </div>
    </div>
</body>

</html>