<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espaçamento e Alinhamento</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1 class="mt-5 p-2 bg-black text-white font-bold border-2">Tipografia</h1>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">font-serif</h1>
    <div class="bg-blue-50 h-18 p-10">
        <p class="text-xl font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident
            alias obcaecati distinctio eius dignissimos? Ut non odio amet iste cumque nihil, laboriosam quasi nostrum
            minus ducimus, quis, omnis eum.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">font-sans</h1>
    <div class="bg-blue-50 h-18 p-10">
        <p class="text-xl font-sans">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident
            alias obcaecati distinctio eius dignissimos? Ut non odio amet iste cumque nihil, laboriosam quasi nostrum
            minus ducimus, quis, omnis eum.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">font-mono</h1>
    <div class="bg-blue-50 h-18 p-10">
        <p class="text-xl font-mono">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident
            alias obcaecati distinctio eius dignissimos? Ut non odio amet iste cumque nihil, laboriosam quasi nostrum
            minus ducimus, quis, omnis eum.</p>
    </div>
    <h1 class="mt-5 p-2 bg-black text-white font-bold border-2">Fonte Customizada</h1>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">font-serif</h1>
    <div class="grid grid-cols-4 bg-blue-300">
        <div class="bg-gray-600 col-span-1 p-3 m-3 font-semibold text-white">
            <p>module.exports = {</p>
            <p class="ml-4">content: ["./views/**/*.{html,js,ejs}"],</p>
            <p class="ml-4">theme: {</p>
            <p class="ml-8">extend: {</p>
            <p class="ml-12 text-purple-400">fontFamily:{</p>
            <p class="ml-16 text-purple-400">'aria': 'Arial'</p>
            <p class="ml-12 text-purple-400">},</p>
            <p class="ml-8">},</p>
            <p class="ml-4">},</p>
            <p class="ml-4">plugins: [],</p>
            <p>}</p>
        </div>
        <div class="bg-gray-600 col-span-3 p-3 m-3 font-semibold text-white">
            <p class="text-3xl mt-6 p-10 font-arial-custom">Esta fonte foi adicionada no arquivo tailwind.config.js</p>
        </div>
    </div>
    <h1 class="mt-5 p-2 bg-black text-white font-bold border-2">Tamanhos de Fonte</h1>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">text-xs</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-xs font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">text-sm</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-sm font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">text-lg</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-lg font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">text-xl</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-xl font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">text-2xl</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-2xl font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">text-3xl</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-3xl font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">text-5xl</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-5xl font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-black text-white font-bold border-2">Peso de Fonte</h1>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">normal</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-2xl font-sans ">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">italic</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-2xl font-sans italic">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">font-bold</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-2xl font-sans font-bold">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">font-thin</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-2xl font-sans font-thin">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">font-bold italic</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-2xl font-sans italic font-bold">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">black</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-2xl font-sans font-black">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-black text-white font-bold border-2">Espaçamento entre Letras</h1>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">normal</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-2xl font-sans tracking-normal">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">tracking-tighter</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-2xl font-sans tracking-tighter">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">tracking-wide</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-2xl font-sans tracking-wide">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">tracking-widest</h1>
    <div class="bg-blue-50 h-16 place-items-center grid ">
        <p class="text-2xl font-sans tracking-widest">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-black text-white font-bold border-2">Espaçamento entre Linhas</h1>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">normal</h1>
    <div class="bg-blue-50 h-auto place-items-center grid grid-cols-5">
        <div class="col-span-1">
            <p class="text-2xl font-sans">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">leading-loose</h1>
    <div class="bg-blue-50 h-auto place-items-center grid grid-cols-5">
        <div class="col-span-1">
            <p class="text-2xl font-sans leading-loose">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">leading-tight</h1>
    <div class="bg-blue-50 h-auto place-items-center grid grid-cols-5">
        <div class="col-span-1">
            <p class="text-2xl font-sans leading-tight">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <h1 class="mt-5 p-2 bg-black text-white font-bold border-2">Listas</h1>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">normal</h1>
    <div class="bg-blue-50 h-auto">
        <ul class=" m-5">
            <li>Linha 1</li>
            <li>Linha 2</li>
            <li>Linha 3</li>
            <li>Linha 4</li>
        </ul>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">list-disc</h1>
    <div class="bg-blue-50 h-auto">
        <ul class="list-disc m-5">
            <li>Linha 1</li>
            <li>Linha 2</li>
            <li>Linha 3</li>
            <li>Linha 4</li>
        </ul>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">list-decimal</h1>
    <div class="bg-blue-50 h-auto">
        <ul class="list-decimal m-5">
            <li>Linha 1</li>
            <li>Linha 2</li>
            <li>Linha 3</li>
            <li>Linha 4</li>
        </ul>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">list-outside</h1>
    <div class="bg-blue-50 h-auto">
        <ul class="list-decimal m-5 list-outside bg-red-200">
            <li>Linha 1</li>
            <li>Linha 2</li>
            <li>Linha 3</li>
            <li>Linha 4</li>
        </ul>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">list-inside</h1>
    <div class="bg-blue-50 h-auto">
        <ul class="list-decimal m-5 list-inside bg-red-200">
            <li>Linha 1</li>
            <li>Linha 2</li>
            <li>Linha 3</li>
            <li>Linha 4</li>
        </ul>
    </div>
    <h1 class="mt-5 p-2 bg-black text-white font-bold border-2">Alinhamento de Texto</h1>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">text-left</h1>
    <div class="bg-blue-50 h-10">
        <p class="text-left p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">text-center</h1>
    <div class="bg-blue-50 h-10">
        <p class="text-center p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">text-right</h1>
    <div class="bg-blue-50 h-10">
        <p class="text-right p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-black text-white font-bold border-2">Cor de Texto</h1>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">text-red-50 a text-red-900</h1>
    <div class="bg-blue-50 h-auto">
        <p class="text-2xl text-red-50 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-red-100 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-red-200 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-red-300 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-red-400 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-red-500 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-red-600 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-red-700 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-red-800 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-red-900 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">text-indigo-50 a text-indigo-900</h1>
    <div class="bg-blue-50 h-auto">
        <p class="text-2xl text-indigo-50 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-indigo-100 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-indigo-200 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-indigo-300 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-indigo-400 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-indigo-500 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-indigo-600 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-indigo-700 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-indigo-800 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-2xl text-indigo-900 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-black text-white font-bold border-2">Decoration e Transform</h1>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">underline</h1>
    <div class="bg-blue-50 h-auto">
        <p class="text-2xl text-black p-2 underline">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">line-through</h1>
    <div class="bg-blue-50 h-auto">
        <p class="text-2xl text-black p-2 line-through">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">lowercase</h1>
    <div class="bg-blue-50 h-auto">
        <p class="text-2xl text-black p-2 lowercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">uppercase</h1>
    <div class="bg-blue-50 h-auto">
        <p class="text-2xl text-black p-2 uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</body>

</html>