<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backgrounds</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1 class="mt-5 p-2 bg-black text-white font-bold border-2">Backgrounds</h1>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">background-image</h1>
    <div class="bg-blue-300 h-52 p-10 overflow-auto bg-cidade-custom">
        <p class="p-10">Linha 1</p>
        <p class="p-10">Linha 2</p>
        <p class="p-10">Linha 3</p>
        <p class="p-10">Linha 4</p>
        <p class="p-10">Linha 5</p>
        <p class="p-10">Linha 6</p>
        <p class="p-10">Linha 7</p>
    </div>
    <p class="p-10">Linha 1</p>
    <p class="p-10">Linha 2</p>
    <p class="p-10">Linha 3</p>

    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-fixed</h1>
    <div class="bg-blue-300 h-52 p-10 overflow-hidden bg-fixed bg-cidade-custom">
        <p class="p-10">Linha 1</p>
        <p class="p-10">Linha 2</p>
        <p class="p-10">Linha 3</p>
        <p class="p-10">Linha 4</p>
        <p class="p-10">Linha 5</p>
        <p class="p-10">Linha 6</p>
        <p class="p-10">Linha 7</p>
    </div>
    <p class="p-10">Linha 4</p>
    <p class="p-10">Linha 5</p>
    <p class="p-10">Linha 6</p>
    <p class="p-10">Linha 7</p>

    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-opacity</h1>
    <div class="bg-blue-900 h-24 p-10 overflow-hidden bg-opacity-0">bg-blue-900 + bg-opacity-0</div>
    <div class="bg-blue-900 h-24 p-10 overflow-hidden bg-opacity-25">bg-blue-900 + bg-opacity-25</div>
    <div class="bg-blue-900 h-24 p-10 overflow-hidden bg-opacity-50">bg-blue-900 + bg-opacity-50</div>
    <div class="bg-blue-900 h-24 p-10 overflow-hidden bg-opacity-75">bg-blue-900 + bg-opacity-75</div>
    <div class="bg-blue-900 h-24 p-10 overflow-hidden bg-opacity-100">bg-blue-900 + bg-opacity-100</div>

    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-right-bottom</h1>
    <div class="bg-blue-300 h-52 p-10 overflow-hidden bg-right-bottom" style="background-image: url(img/bg_ny.jpeg);">
        <p class="p-10">Linha 1</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-bottom</h1>
    <div class="bg-blue-300 h-52 p-10 overflow-hidden bg-bottom" style="background-image: url(img/bg_ny.jpeg);">
        <p class="p-10">Linha 1</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-center</h1>
    <div class="bg-blue-300 h-52 p-10 overflow-hidden bg-center" style="background-image: url(img/bg_ny.jpeg);">
        <p class="p-10">Linha 1</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-no-repeat</h1>
    <div class="bg-blue-300 h-80 p-10 overflow-hidden bg-no-repeat" style="background-image: url(img/bg_ny_rpt.jpeg);">
        <p class="p-10">Linha 1</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-repeat-y</h1>
    <div class="bg-blue-300 h-80 p-10 overflow-hidden bg-repeat-y" style="background-image: url(img/bg_ny_rpt.jpeg);">
        <p class="p-10">Linha 1</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-repeat-x</h1>
    <div class="bg-blue-300 h-80 p-10 overflow-hidden bg-repeat-x" style="background-image: url(img/bg_ny_rpt.jpeg);">
        <p class="p-10">Linha 1</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-auto - padrão</h1>
    <div class="bg-blue-300 h-80 p-10 bg-auto" style="background-image: url(img/bg_ny.jpeg);">
        <p class="p-10">Linha 1</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-cover</h1>
    <div class="bg-blue-300 h-80 p-10 bg-cover" style="background-image: url(img/bg_ny.jpeg);">
        <p class="p-10">Linha 1</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-cover + bg-bottom</h1>
    <div class="bg-blue-300 h-80 p-10 bg-cover bg-bottom" style="background-image: url(img/bg_ny.jpeg);">
        <p class="p-10">Linha 1</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-cover + bg-center</h1>
    <div class="bg-blue-300 h-80 p-10 bg-cover bg-center" style="background-image: url(img/bg_ny.jpeg);">
        <p class="p-10">Linha 1</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-gradient-to-tr - 2 cores</h1>
    <div class="h-80 bg-gradient-to-tr from-gray-700 to-red-400" >
        <p class="p-10">Linha 1</p>
    </div>
    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-gradient-to-b - 3 cores</h1>
    <div class="h-80 bg-gradient-to-b from-blue-500 via-green-600 to-yellow-400" >
        <p class="p-10">Linha 1</p>
    </div>
    <p class="text-lg">Criar um background customizado</p>
    <div class="grid grid-cols-4 bg-orange-300">
        <div class="bg-gray-600 col-span-1 p-3 m-3 font-semibold text-white">
            <p>module.exports = {</p>
            <p class="ml-4">content: ["./views/**/*.{html,js,ejs}"],</p>
            <p class="ml-4">theme: {</p>
                <p class="ml-8">extend: {</p>
                    <p class="ml-12 text-purple-400">backgroundImage:{</p>
                    <p class="ml-16 text-purple-400">'cidade-custom': 'url(/img/bg-ny-pic.jpeg)'</p>
                    <p class="ml-12 text-purple-400">},</p>
            <p class="ml-8">},</p>
            <p class="ml-4">},</p>
            <p class="ml-4">plugins: [],</p>
            <p>}</p>
        </div>
        <div class="bg-gray-600 col-span-3 p-3 m-3 font-semibold text-white">
            <p class="text-3xl mt-6 p-10">Criar uma imagem personalizada de forma estendida</p>
        </div>
    </div>
    
    <h1 class="mt-5 p-2 bg-blue-100 border-2">bg-cidade-custom</h1>
    <div class="h-80 bg-cidade-custom bg-cover bg-center" >
        <p class="p-10">Linha 1</p>
    </div>
</body>

</html>